@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;200;300;400;500;600;700;800;900&display=swap');


.aceso{
    filter:  brightness(1) drop-shadow(2px 2px 50px  rgb(1, 33, 85)) drop-shadow(2px 2px 25px  rgb(1, 33, 85)) ;
}

.apagado{
    filter:  brightness(0.0) drop-shadow(2px 2px 50px  rgb(1, 33, 85)) drop-shadow(2px 2px 25px  rgb(1, 33, 85));
}

.container{
    height: 90vh;
    width: 100%;
    webkit-transition: 1s -webkit-filter ease-in ;
    -moz-transition: 1s -moz-filter ease-in ;
    -moz-transition: 1s filter ease-in ;
    -ms-transition: 1s -ms-filter ease-in ;
    -o-transition: 1s -o-filter ease-in ;
    transition: 1s filter ease-in , 1s -webkit-filter ease-in,  width  1s ease-in;

}

.showDetails{
    width: 70%;
}


body {
    margin: 0;
    background: url("./img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}

.details{
    background-color: aliceblue;
    height: 100vh;
    width: 30%;
    transition: width  0.5s ease-in;
}

.closeDetails{
    width: 0%;
}

#btState{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    outline: none;
    background-color: rgb(31, 37, 44);
    border: 3px solid rgb(16, 17, 17);
    color: blanchedalmond;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s all ease-in;
    font-family: 'Grenze Gotisch', cursive;
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;    
    box-shadow: 0px 0px 19px 2px black;
}

#btState:hover{
    background-color: rgb(16, 17, 17);
    border: 3px solid rgb(31, 37, 44);
    cursor: pointer;
}

.desenvolvedor{
    background-color: rgba(32, 32, 32, 0.493);
    height: calc(10vh - 2px);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #FFF;
   
}

h1{
    font-family: "Grenze Gotisch";
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}


